@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');
body{
    width: 100vw;
}
#LoginformContainer{
    background-color:#ffffff;
    height: 400px;
    width: 100%;
    min-width: 390px;
    max-width: 500px;
    border-radius: 5px;
    /* position: absolute; */
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin: auto;    */
    padding: 0px 28px 0px 28px;
    box-shadow: 1px 1px 20px 1px rgba(79, 79, 79, 0.8);
}
#LoginformContainer a{
    color:#1b758c;
    background: none;
    border: none;
    text-decoration: none;
}

#emailFormContainer{
    margin-bottom: 20px;
}

.MyLabels{
    font-size: 16px;
    color:#7c7c7c;
    font-weight: bold;
    margin-bottom: 10px;
}


.MyInputs{
    border-radius: 5px;
    background-color:#b6b6b6;
    border: 0px;
    color:#212121;
    height: 50px;
    width:100%;
    padding-left: 20px;
    font-size: 18px;
}
.MyInputs:focus{
    outline: none;
    background-color:#ffffff;
    border: 1px solid #B9B9B9;
}

button[name="signMeIn"],button[name="signMeUp"] {
    background-color:#1b758c;
    font-size: 16px;
    font-weight: bold;
    width: 118px;
    height: 36px;
    border-radius: 6px;
    border: 0px;
    color: white;
    filter: saturate(0%);  
}
.logoContainer{
    height: 57px;
    width: 300px;
    display: block;
    margin: auto;           
    margin-bottom: 20px;
}
#whoAreWe {
    font-size: 2.5rem;
    color:#1b758c;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
#whoAreWeText{
    text-align: justify;
    width: 100%;
    color: gray;
    font-family: 'Open Sans', sans-serif;
}
#first-container{
    border: solid blue;
    width: 50%;
}
@media  scren and (max-width:990px) {
    #first-container{
        width: 500px;
        border: solid yellow;
    }
}